/* Estilos para la sección de detalles del estudiante */
.student-details {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .student-details h2 {
    color: #333;
    font-size: 24px;
  }
  
  .student-details p {
    margin: 10px 0;
  }
  
  /* Estilos para la sección de detalles del curso */
  .course-details {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .course-details h2 {
    color: #333;
    font-size: 24px;
  }
  
  .course-details p {
    margin: 10px 0;
  }