<mat-toolbar color="primary">
    <button (click)="drawer?.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <!-- uso de la directiva para especificar un font size -->
    <span *ngIf="title !== ''; else sino" appFontSize="20px">MODULO DE {{title | uppercase }}</span>
    <ng-template #sino>
      <span appFontSize="20px">BIENVENIDOS</span>
    </ng-template>
    <span class="example-spacer"></span>
  </mat-toolbar>