<h1 mat-dialog-title>{{operation}} Usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm" class="grid">

        <!-- CAMPO NOMBRE -->
        <div class="field col-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name">

                <!-- ERRORES -->
                <!-- por cada error quiero mostrar un mat-errors -->
                <mat-error *ngFor="let error of nameControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>

            </mat-form-field>
        </div>

        <!-- CAMPO APELLIDO -->
        <div class="field col-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="surname" matInput type="text" name="surname">

                <mat-error *ngFor="let error of surnameControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>

            </mat-form-field>
        </div>

        <div class="field col-6">
            <mat-form-field class="w-full" appearance="outline">
            <mat-label appFontSize="20px">Email</mat-label>
                <input formControlName="email" matInput type="email" name="email">

                <mat-error *ngFor="let error of emailControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="field col-12">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput type="password" name="password">

                <mat-error *ngFor="let error of passwordControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>

<div class="flex justify-content-end" mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onCancelClick()">Cancelar</button>
    <button class="bg-blue-500" (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>