<div class="mb-5">
    <button [disabled]="!(isAdmin$ | async)" (click)="onCreateCourse()"  mat-flat-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Crear Curso
    </button>
</div>

<p appFontSize="20px">
    El módulo que permite administrar y gestionar los profesores registrados en el sistema
</p>

<!-- TABLA PARA LA VISTA -->
<app-users-table 
    [dataSource]="(coursesAsync | async) || []"
    (deleteUser)="onDeleteUser($event)"
    (editUser)="onEditUser($event)">
</app-users-table>