<div class="grid">
    <!-- Información de Alumnos -->
    <div class="col-6">
        <mat-card>
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Alumnos <mat-icon>person</mat-icon>
                </mat-card-title>
            </mat-card-header>
        
            <!-- CONTENIDO -->
            <mat-card-content>
                <p style="font-size: 30px;">Total de Alumnos: 230</p>
                <!-- Agrega más información sobre alumnos si es necesario -->
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Información de Cursos -->
    <div class="col-6">
        <mat-card>
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Cursos <mat-icon>class</mat-icon>
                </mat-card-title>
            </mat-card-header>
        
            <!-- CONTENIDO -->
            <mat-card-content>
                <p style="font-size: 30px;">Total de Cursos: 15</p>
                <!-- Agrega más información sobre cursos si es necesario -->
            </mat-card-content>
        </mat-card>
    </div>
</div>
