<h1 mat-dialog-title>{{operation}} Curso</h1>
<div mat-dialog-content>
    <form [formGroup]="dataForm" class="grid">

        <!-- CAMPO NOMBRE -->
        <div class="field col-12">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name">

                <!-- ERRORES -->
                <mat-error *ngFor="let error of nameControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>

            </mat-form-field>
        </div>

        <div class="field col-12">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input formControlName="description" matInput type="text" name="description">

                <mat-error *ngFor="let error of descriptionControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>

            </mat-form-field>
        </div>
    </form>
</div>

<div class="flex justify-content-end" mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onCancelClick()">Cancelar</button>
    <button class="bg-blue-500" (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>