<mat-drawer-container class="example-container" autosize>

    <!--SIDEBAR-->
    <mat-drawer opened #drawer class="w-2 example-sidenav" mode="side">
      <app-nav-menu></app-nav-menu>
    </mat-drawer>
    <!-- FIN SIDEBAR-->
  
    <!-- MAIN WRAPPER -->
    <div class="example-sidenav-content">

        <!-- TOOLBAR -->
        <p>
          <app-toolbar [drawer]="drawer"></app-toolbar>
        </p>

        <!--FIN TOOLBAR -->
        <main class="p-3">
          <!-- <app-students>

          </app-students> -->
          <router-outlet>
          </router-outlet>
        </main>
    </div>
    <!-- FIN MAIN WRAPPER -->
  
  </mat-drawer-container>
  